extends journal

block title 
  title The Open Journal of Psychology

block sectionTitle
  span TOJ Psychology

block journalTag
  h1(class="display-1 text-muted mb-0" style="line-height: .75em;") The #[br] Open #[br] Journal #[br]
  h4(class="display-4 text-muted mb-3" style="line-height: 1em;") #[em of Psychology] 
  p #[em The Open Journal of Psychology] invites scholars, reviewers, and readers of psychological science to build a stronger science through open collaboration.
  p #[em The Open Journal of Psychology] is free to anyone to read but you'll need to join the community to post your work or to review the work of others.

block currentCollection
  li
    a(href="#") Article Title
    p Abstract of the article goes here.
  li
    a(href="#") Article Title 2
    p Another abstract goes here.

block prevCollections
  div(class="col-sm-12 col-md-6 col-lg-4")
    ul(class="list-unstyled")
      li 
        p #[strong 2023]
      li 
        a(href="#") May
      li 
        a(href="#") April
      li 
        a(href="#") March
      li 
        a(href="#") February
      li 
        a(href="#") January
  div(class="col-sm-12 col-md-6 col-lg-4")
    ul(class="list-unstyled")
      li 
        p #[strong 2022]
      li 
        a(href="#") November
      li 
        a(href="#") October
      li 
        a(href="#") September
      li 
        a(href="#") Augutst
      li 
        a(href="#") July
      li 
        a(href="#") June
      li 
        a(href="#") May
      li 
        a(href="#") April
      li 
        a(href="#") March
      li 
        a(href="#") February
      li 
        a(href="#") January
  div(class="col-sm-12 col-md-6 col-lg-4")
    ul(class="list-unstyled")
      li 
        p #[strong 2021]
      li 
        a(href="#") November
      li 
        a(href="#") October
      li 
        a(href="#") September
      li 
        a(href="#") Augutst
      li 
        a(href="#") July
      li 
        a(href="#") June
      li 
        a(href="#") May
      li 
        a(href="#") April
      li 
        a(href="#") March
      li 
        a(href="#") February
      li 
        a(href="#") January

block metrics
  li 
    p 0 Articles
  li 
    p 0 Citations
  li 
    p 0 Visits
  li 
    p 0 Reviews