extends journal

block title 
  title The Open Journal

block sectionTitle 
  span The Open Journal

block journalTag
  h1(class="display-1 text-muted mb-3" style="line-height: .75em;") The #[br] Open #[br] Journal #[br]
  p #[em The Open Journal] pulls content from different subjects across #[em The Open Journals Platform] to highlight promising projects, highly reviews articles, and most read manuscripts.
  p #[em The Open Journal] is free to anyone to read but you'll need to join the community to post your work or to review the work of others.

block currentCollection
  li
    a(href="#") Article Title
    p Abstract of the article goes here.
  li
    a(href="#") Article Title 2
    p Another abstract goes here.

block prevCollections
  div(class="col-sm-12 col-md-6 col-lg-4")
    ul(class="list-unstyled")
      li 
        p #[strong 2023]
      li 
        a(href="#") May
      li 
        a(href="#") April
      li 
        a(href="#") March
      li 
        a(href="#") February
      li 
        a(href="#") January
  div(class="col-sm-12 col-md-6 col-lg-4")
    ul(class="list-unstyled")
      li 
        p #[strong 2022]
      li 
        a(href="#") November
      li 
        a(href="#") October
      li 
        a(href="#") September
      li 
        a(href="#") Augutst
      li 
        a(href="#") July
      li 
        a(href="#") June
      li 
        a(href="#") May
      li 
        a(href="#") April
      li 
        a(href="#") March
      li 
        a(href="#") February
      li 
        a(href="#") January
  div(class="col-sm-12 col-md-6 col-lg-4")
    ul(class="list-unstyled")
      li 
        p #[strong 2021]
      li 
        a(href="#") November
      li 
        a(href="#") October
      li 
        a(href="#") September
      li 
        a(href="#") Augutst
      li 
        a(href="#") July
      li 
        a(href="#") June
      li 
        a(href="#") May
      li 
        a(href="#") April
      li 
        a(href="#") March
      li 
        a(href="#") February
      li 
        a(href="#") January

block metrics
  li 
    p 0 Articles
  li 
    p 0 Citations
  li 
    p 0 Visits
  li 
    p 0 Reviews