

block userInfoCard
  img(src="https://mypages.svsu.edu/~jweaver/site/images/ProfilePic.jpg" class="card-img-top")
  div(class="card-body")
    h5(class="card-title text-center") Joe Weaver, Ph.D.
    p 
    | Founder, The Open Journals
    |
    | Associate Professor of Psychology
    hr
    h6 Communities
    p(class="card-text ms-2") Author, Reviewer, Editor
    h6 Info
    div(class="ms-2")
    i(class="bi bi-geo-alt-fill") Saginaw, MI
    br
    i(class="bi bi-buildings-fill") Saginaw Valley State University
    br
    i(class="bi bi-link-45deg") #[a(class="link-dark link-underline link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="http://josephweaver.me/") josephweaver.me]
    br
    i(class="bi bi-twitter") #[a(class="link-dark link-underline link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="https://twitter.com/profjoeweaver") @ProfJoeWeaver]
    br
    i(class="bi bi-linkedin") #[a(class="link-dark link-underline link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="https://www.linkedin.com/in/profjoeweaver/") ProfJoeWeaver]
    br
    img(src="../images/ORCIDiD_iconbwvector.svg") 
    a(class="link-dark link-underline link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="https://orcid.org/0000-0002-2718-8379") 0000-0002-2718-8379